.App {
  color: white;
}
.parent {
  background-color: white;

  border: 1px solid white;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}

.child {
  display: inline-block;
  border: 1px solid white;
  padding: 1rem 1rem;
  vertical-align: right;
}

#left {
  position: fixed;
  line-height: 1.6;
  left: 0;
  margin-right: 30px;
}
#bottom {
  position: fixed;
  bottom: 0px;
  padding-right: 10%;

  line-height: 1.6;
  left: 0;
}
#right {
  position: absolute;
  right: 0;
  width: 60%;
  margin-left: 50px;
}
